.container {
  flex-wrap: wrap;
  padding: 6.25rem 1.25rem 1.25rem;
}

:host ::ng-deep .mat-card {
  width: 18.75rem;
  margin: 1.25rem;
  cursor: pointer;

  .mat-card-header .mat-card-header-text {
    margin: 0;
  }
}
