@use '/src/assets/styles/colors';
@import '/src/assets/styles/responsive';

.bs-page-banner {
  width: 100%;
  background-color: colors.$theme;
  padding-left: 20px;

  h1 {
    font-weight: 300;
    margin: 0;
    padding: 28px 8px;
    font-size: 20px;
    color: #fff;
  }
}

.bs-page-wrapper {
  font-weight: 400;
  padding: 20px 15px;

  @include tablet {
    padding: 20px 50px;
  }

  .example-border {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    .example-heading {
      padding: 16px;
      color: #0000008a;
    }

    .example-desc {
      padding: 30px;
    }
  }
}

::ng-deep .bs-page-mat-tab-group {
  .mat-tab-body-wrapper {
    margin-top: 2rem;
    font-size: 16px;
    line-height: 28px;

    pre {
      border-radius: 5px;
      overflow-x: auto;
      padding: 20px;
      white-space: pre-wrap;
      background: rgba(0, 0, 0, 0.01);
      border: 0.5px solid rgba(0, 0, 0, 0.2);
    }
  }
}
