.bs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  scroll-snap-type: y mandatory;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .bs-scroll-snap-stop-full {
    width: 100%;
    height: 100vh;
    z-index: 2;
    background: transparent;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .bs-scroll-snap-stop {
    width: 100%;
    height: 30vh;
    z-index: 2;
    background: transparent;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .bs-container {
    width: 100%;
    height: 96vh;
    z-index: 2;
    background: #ffffff;
    border-radius: 12px 12px 0px 0px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .bs-container-dragger {
      width: 100%;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .notch {
        width: 2.5rem;
        height: 0.3rem;
        border-radius: 20px;
        background-color: grey;
      }
    }

    .bs-portal-outlet {
      width: 100%;
      height: 100%;
      overflow: scroll;
    }
  }
}
