@use '/src/assets/styles/colors';
@import '/src/assets/styles/responsive';

.header {
  font-size: 0.875rem;
  font-weight: 500;
  justify-content: space-between;
  padding: 0.625rem 1rem;
  background-color: colors.$theme;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  position: fixed;
  width: calc(100% - 2rem);
  top: 0;
  z-index: 9;

  .product-name {
    .mat-icon {
      margin: 0 0.25rem 0.1875rem 0;
    }
  }

  .products {
    display: none;
    @include tablet {
      display: inline-block;
    }
  }

  .github-link {
    img {
      height: 1.625rem;
      margin: 0 0.25rem 0.1875rem 0;
    }
  }
}

.header-margin {
  width: 100%;
  height: 3.5rem;
}
